@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    background-color: #FFE7F6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    font-family: 'Poppins', sans-serif;
}
